# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Embedded compile binaries
*.elf

# Application
elfloader
*.elf.read
*.elf.list
oocd.log
doc/html
